@import "../../styles/variables.scss";

$wiki-popups-width: 300px;
$wiki-popups-border-color: rgba(204, 204, 204, 0.3);

.popups {
  display: none;
  position: absolute;
  background: $wiki-common-white;
  line-height: 20px;
  min-width: $wiki-popups-width;
  color: $wiki-description-black;
  border-radius: 2px;
  z-index: 50;
}

.show {
  display: block;
}

@keyframes popups-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popups-fade-out-down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

.fadein {
  animation: popups-fade-in-up 0.3s ease-in-out;
}

.fadeout {
  animation: popups-fade-out-down 0.3s ease-in-out;
}

.arrow {
  $arrow-height: 10px;
  $arrow-margin-left: 10px;
  border: $arrow-height solid transparent;
  border-radius: 0;
  width: 0;
  position: absolute;
  left: $arrow-margin-left;

  &.top {
    border-bottom-color: #fff;
    // top: calc($arrow-height * -2);
    top: -18px;
  }

  &.shadow {
    border-bottom-color: $wiki-popups-border-color;
    top: -20px;
  }

  // &.bottom {
  //   border-top-color: #fff;
  //   bottom: calc($arrow-height * -2);
  // }
}

.module {
  display: flex;
  background: #fff;
  flex-direction: column;
  align-content: flex-start;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 12%);
  border: 1px solid $wiki-popups-border-color;
}

.text {
  font-size: 14px;
  padding-top: 0.5rem;
  overflow: hidden;
  padding-bottom: 0;
  margin: 1rem;
  width: $wiki-popups-width;

  p {
    text-indent: 0;
    margin-bottom: 10px;
    line-height: 1.5;

    .description {
      min-height: 64px;
      max-height: 126px;
      overflow: hidden;
      display: block;
    }
  }

  &::after {
    content: "";
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #ffffff 50%
    );
    position: absolute;
    bottom: 26px;
    right: 0;
    width: 25%;
    height: 20px;
    background-color: transparent;
    pointer-events: none;
    border-right: 1px solid $wiki-popups-border-color;
  }
}

.img {
  display: flex;
  margin: auto;
  margin-bottom: 0.5rem;
  margin-top: -1rem;
  width: $wiki-popups-width;
  height: calc($card-img-height * ($wiki-popups-width / $card-img-width));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
