@import "../../styles/variables.scss";

.picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* image-rendering: pixelated; */
}

.box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
}

.img {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  color: $wiki-description-gray;
  font-size: 0.8rem;
}

.tips {
  line-height: 0;
}

.tipsIcon {
  font-size: 1rem;
  display: inline-block;
}

.tipsItem {
  font-size: 0.5rem;
}

.box img {
  max-height: 300px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

.placeholder {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  max-width: 100%;
  width: initial;
  height: initial;
  cursor: zoom-in;

  .loadingBox {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    max-width: 100%;

    img {
      display: block;
      background-image: none;
      width: initial;
      height: initial;
      max-width: 100%;
    }
  }

  .realImage {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

// @media only screen and (min-width: 500px) {
//   .nuxt-content > .picture {
//     display: flex;
//     flex-direction: row;
//     max-width: 100%;
//   }

//   .nuxt-content > .picture > .box {
//     width: 40%;
//   }

//   .nuxt-content > .picture > .fill {
//     width: 70%;
//   }

//   .img {
//     width: 100%;
//   }
// }
