@import "../../styles/variables.scss";

.main {
  min-height: 100vh;
  background-color: #fff;
  background-color: #f2f2f2;
}

.contents {
  text-align: left;
  padding-top: 60px;
  background-color: $wiki-common-white;
  word-break: break-word;

  display: flex;
  height: 100%;
}
